body{
    background: linear-gradient(to right, #A62639 10%, rgb(252, 56, 89) 60%);
    color: #ffffff;
    font-family: sans-serif;
    margin: 0rem;
    overflow-x: hidden;
}

/* Library */

.text-center{
    text-align: center;
}

.default-link{
    color: #511C29;
    text-decoration: none;
}

.credit{
    color: #5cb85c;
}

.debit{
    color: 	#d9534f;
}

.m-0{
    margin: 0rem;
}

.mb-1{
    margin-bottom: 0.5rem;
}

.mt-1{
    margin-top: 0.5rem;
}

.tr{
    overflow-x: auto;
}

.link-btn{
    cursor: pointer;
}

label{
    display: block;
}

.fr{
    position: relative;
}

.name{
    text-transform: capitalize;
}

.success{
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to right, rgb(27, 165, 80) 10%, rgb(62, 172, 104) 60%);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0rem;
}

.error{
    color: #ffffff;
    text-align: center;
    background: linear-gradient(to right, rgb(165, 27, 27) 10%, rgb(168, 64, 64) 60%);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0rem;
}

.table1{
    width: 100%;
}

.table1 th{
    text-align: left;
    padding: 1rem;
    /* background: linear-gradient(to bottom, #A62639 10%, rgb(252, 56, 89) 100%); */
    background-color: #A62639;
    color: #ffffff;
}

.table1 td{
    padding: 1rem;
}

.table1 tbody tr{
    cursor: pointer;
}

.table1 tbody tr:hover{
    color: #A62639ee;
}

.table1 tbody tr:nth-of-type(odd){
    background-color: #eeeeee;
}

.table2{
    width: 100%;
}

.table2 th{
    text-align: left;
    padding: 1rem;
    /* background: linear-gradient(to bottom, #A62639 10%, rgb(252, 56, 89) 100%); */
    background-color: #A62639;
    color: #ffffff;
}

.table2 td{
    padding: 1rem;
}

.table2 tbody tr:hover{
    color: #A62639ee;
}

.table2 tbody tr{
    cursor: pointer;
}

.table2 tbody tr:nth-of-type(odd){
    background-color: #eeeeee;
}

.filter{
    display: flex;
    justify-content: flex-end;
    color: #511C29;
    align-items: center;
    margin-bottom: 1rem;
}

.filter select{
    background-color: #ffffff;
    color: #511C29;
    border: 1px solid #511C29;
    padding: 0.5rem;
    margin-left: 0.5rem;
}
  

.bg-modal{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    max-width: 400px;
    width: 80%;
    height: auto;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.3s;
}

.close{
    position: absolute;
    top: 0.8rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.hide{
    display: none;
}
/* End */

/* Animations */
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    /* 25% {opacity: 0.25;}
    50% {opacity: 0.50;} */
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    /* 25% {opacity: 0.25;}
    50% {opacity: 0.50;} */
    100% {opacity: 1;}
}

@-webkit-keyframes slideIn {
    0% {left: -1000px; top: 0px;}
    100% {left: 0px; top: 0px;}
}

@keyframes slideIn {
    0% {right: -1000px; top: 0px;}
    100% {right: 0px; top: 0px;}
}

.fade-in{
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.fade-out{
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.fade-out-delay{
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.slide-in{
    position: relative;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 2s;
    animation-name: slideIn;
    animation-duration: 1s;
}

.slide-delay{
    animation-duration: 1.2s;
}

.slide-delay1{
    animation-duration: 1.4s;
}

.slide-delay2{
    animation-duration: 1.6s;
}

/* Main Styles */
.main-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 8rem;
}

.logo h1{
    margin: 0rem;
}

.logo h1 a{
    text-decoration: none;
    color: #ffffff;
}

.main-header nav ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    margin: 0rem;
}

.main-header .link, .main-header .link-btn{
    text-decoration: none;
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.main-header .link-btn{
    border: 2px solid #ffffff;
    background: linear-gradient(to bottom, #A62639 10%, rgb(252, 56, 89) 100%);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.main-header .link:hover{
    border-bottom: 2px solid #ffffff;
    padding: 0.5rem 0rem;
}

.main-header .link-btn:hover{
    background: linear-gradient(to top, #A62639 10%, rgb(252, 56, 89) 100%);
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 0rem 8rem;
    min-height: 70vh;
    align-items: center;
}

.main .left{
    font-size: 3.5rem;
    width: 50%;
}

.main .left p{
    margin-bottom: 0rem;
}

.main .left .link-btn{
    font-size: 2rem;
    border: 2px solid #ffffff;
    text-decoration: none;
    background: linear-gradient(to bottom, #511C29 10%, #511C29a4 100%);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.main .left .link-btn:hover{
    background: linear-gradient(to top, #A62639 10%, rgb(252, 56, 89) 100%);
}

.main .right .icon{
    margin-top: 2rem;
    height: 75vh;
}

.main .right .icon img{
    width: 100%;
    height: 100%;
}

/* Sign Up Page */
.signup{
    background: #ffffff;
    color: #56494E;
}

.signup .main-header{
    justify-content: center;
}

.signup .logo h1 a{
    color: #A62639;
}

.signup .main{
    justify-content: center;
    min-height: 90vh;
}

.signup form{
    width: 300px;
    border: 2px solid #511C29;
    padding: 2rem 4rem;
}

.signup .form-group input{
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.signup .form-group select{
    display: block;
    height: 45px;
    width: calc(100%);
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.signup form .link-btn{
    display: block;
    text-decoration: none;
    background: #A62639;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.signup form .link-btn:hover{
    background: #A62639d1;
}

/* Dashboard */
#welcomeText{
    color: #A62639;
}

.dashboard{
    background: #ffffff;
    color: #56494E;
}

.dashboard .main-header{
    justify-content: space-between;
    background: linear-gradient(to right, #A62639 10%, rgb(252, 56, 89) 60%);
}

.dashboard .logo h1 a{
    color: #ffffff;
}

.dashboard .link{
    color: #ffffff;
    padding: 0.5rem 0rem;
}

.dashboard .link:hover{
    border-bottom: 2px solid #A62639;
    padding: 0.5rem 0rem;
}

.dashboard footer{
    background-color: #fefefe;
    color: #A62639;
    box-shadow: 2px 2px 2px 3px #511C29;
}

.dropdown{
    position: relative;
    cursor: pointer;
}

.dropdown-links{
    position: absolute;
    top: 3rem;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #56494E;
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

.dropdown-links a{
    color: #511C29;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.dropdown-links a:hover {
    text-decoration: underline #511C29;
}

.dropdown-links::after{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    top: -7px;
    left: 8px;
    border-bottom: 8px solid #ffffff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    animation-name: fadeIn;
    animation-duration: 0.2s;
}

.dropdown .flex{
    display: flex;
    color: #ffffff;
    align-items: center;
}

.dashboard .dashboard-main{
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 3rem;
}

.dashboard-main {
    margin-bottom: 3rem;
}

.dashboard-main .img{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.dashboard .min-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    position: relative;
    margin-right: 0.5rem;
}

.dashboard .img img{
    width: 100%;
}

.dashboard-main .left nav{
    border: 2px solid #56494E;
    border-bottom: transparent;
}

.dashboard-main nav ul{
    list-style: none;
    padding-left: 0rem;
    margin: 0rem;
    font-size: 18px;
}

.dashboard-main ul li{
    border-bottom: 2px solid #56494E;
    padding: 1rem;
}

.dashboard-main ul li a:hover{
    color: #A62639;
}

.dashboard-main nav a{
    text-decoration: none;
    color: #56494E;
}

.dashboard-main .min-img img{
    width: 100%;
}

.dashboard-main .create-account{
   display: flex;
   justify-content: center;
}

.dashboard-main .right .link-btn{
    display: block;
    text-decoration: none;
    background: #A62639;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    width: 200px;
}

.dashboard-main .right .link-btn:hover{
    background: #A62639d1;
}

.dashboard-main .active{
    color: #ffffff;
    background-color: #A62639;
}

.dashboard-main .active a{
    color: #ffffff;
}

.dashboard-main .active a:hover{
    color: #ffffff;
}


/* Create Account */
.create-acc-form{
    width: 300px;
    border: 2px solid #511C29;
    padding: 2rem 4rem;
}

.create-acc-form .form-group input{
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.create-acc-form select{
    display: block;
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin: 1rem 0rem;
}

/* Dashboard active */
.dashboard-active{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.dashboard-active .top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 200px;
   
}

.dashboard-active .bottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: 200px;
   
}

.dashboard-active .top > .card, .dashboard-active .bottom > .card{
    /* border: 1px solid #511C29; */
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 5px 1px 5px #511C29;
}

.dashboard-active > .card{
    /* border: 1px solid #511C29; */
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 5px 1px 5px #511C29;
}

.dashboard-active .center{
    grid-column: 2/3;
    padding: 1rem;
}

.dashboard-active .center img{
    display: block;
    margin: 0 auto;
}

.dashboard-active .icon{
    font-size: 3rem;
    background-color: #511C29;
    color: #ffffff;
    padding: 0.5rem 0rem;
}

/* Transactions */
.transactions h2{
    margin: 0rem;
}

.transactions .flex{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.transactions .acc-balance{
    background-color: #511C29;
    color: #ffffff;
    padding: 0rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

.transactions .card{
    margin-top: 1rem;
    box-shadow: 5px 1px 5px #511C29;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
}

.transactions .transaction{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #511C29;
}

.transaction-modal .grid{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 0.5rem;
}

.transaction-modal .grid div{
    padding: 0.5rem;
    background-color: #dddddd;
}

.transaction-modal .grid div:nth-of-type(odd){
    background-color: #511C29;
    color: #ffffff;
}

/* Staff Dashboard */
.bank-accounts .delete:hover{
    color: #d9534f;
}

.transactions{
    position: relative;
}

.transactions .back{
    position: absolute;
    color: #511C29;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.records .flex{
    justify-content: space-between;
    margin: 1rem 0rem;
}

.credit-debit{
    margin: 0 auto;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

/* Admin Dashboard */
.users .flex{
    display: flex;
    justify-content: flex-end;
}

.users .add-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #511C29;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.users .add-btn:hover{
    background-color: #511C29c1;
}

.users .update-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #511C29;
    padding: 0.5rem 1rem;
    margin: 1rem auto;
}

.users .update-btn:hover{
    background-color: #511C29c1;
}

.users select{
    background-color: inherit;
    width: 100%;
    border: transparent;
}

.user-modal form{
    border: transparent;
}

.user-modal select{
    width: 100%;
}

.user-modal .link-btn{
    text-decoration: none;
    width: 100%;
    background-color: #A62639;
    color: #ffffff;
    display: block;
    padding: 1rem 0rem;
    text-align: center;
    border-radius: 5px;
}

.user-modal .link-btn:hover{
    background-color: #A62639c1;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 0.2rem 0rem;
}

@media screen and (max-width: 1075px){
    .main-header{
        padding: 1rem 4rem;
    }

    .main{
        padding: 0rem 4rem;
    }

    /* Dashboard */
    .dashboard .dashboard-main{
        padding: 2rem 4rem;
    }

    .records .acc-balance{
        padding: 0rem 1rem;
    }
    
    .dropdown-links{
        position: absolute;
        top: 3rem;
        right: 4rem;
    }
    
    .dropdown-links::after{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        top: -7px;
        left: 70%;
        border-bottom: 8px solid #ffffff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        animation-name: fadeIn;
        animation-duration: 0.2s;
    }
}

@media screen and (max-width: 945px){
    .main-header{
        padding: 1rem 2rem;
    }

    .main{
        padding: 0rem 2rem;
    }

    .dashboard .dashboard-main{
        padding: 2rem 2rem;
    }

    .dropdown-links{
        right: 2rem;
    }
}

@media screen and (max-width: 880px){
    .main-header{
        padding: 1rem 1rem;
    }

    .main{
        padding: 0rem 1rem;
        flex-wrap: wrap;
    }

    .main .left{
        width: 100%;
        z-index: 1;
        text-align: center;
    }

    .main .left p{
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    .main .right{
        display: none;
    }

    /* Dashboard */
    .dashboard .dashboard-main{
        padding: 2rem 1rem;
        grid-template-columns: 1fr;
    }

    .dashboard-main nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .dashboard-main nav .creAcc{
        display: block;
    }

    .staff .dashboard-main nav ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .dashboard-main nav ul li{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .staff .dashboard-main nav ul li{
        padding: 0.5rem;
    }

    .admin .dashboard-main nav ul li{
        height: 2.5rem;
        padding: 0.5rem;
    }

    .dashboard-main nav ul li i{
        margin-right: 0.5rem;
    }

    .transactions .flex{
        justify-content: center;
    }

    .dropdown-links{
        right: 1rem;
    }

}

@media screen and (max-width: 600px){
    .dashboard-main .right .link-btn{
        display: block;
        text-decoration: none;
        background: #A62639;
        color: #ffffff;
        border-radius: 25px;
        padding: 0.7rem;
        text-align: center;
        margin: 0 auto;
        font-weight: bold;
        width: 120px;
    }

    .create-acc-form, .credit-debit form{
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .dashboard-active{
        grid-template-columns: 1fr;
    }

    .dashboard-active .top, .dashboard-active .bottom{
        grid-template-columns: 1fr;
    }

    .dashboard-active > .card{
        margin-bottom: 1rem;
    }

    .dashboard-active .center{
        display: none;
    }

    .transactions .transaction{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .records .flex{
        justify-content: space-between;
        flex-direction: column;
        margin: 1rem 0rem;
    }

    .records .acc-balance{
       margin-bottom: 1rem;
    }
}

@media screen and (max-width: 400px){
    .main-header{
        padding: 1rem 0.5rem;
    }

    .main-header .link, .main-header .link-btn{
        margin-left: 0.5rem;
        font-size: 1.3rem;
    }

    .main .left{
        font-size: 2.8rem;
    }

    .dashboard-main {
        margin-bottom: 3rem;
    }

}

@media screen and (max-width: 341px){
    .main-header{
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.5rem;
    }

    .main-header nav{
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .main .left{
        font-size: 2.8rem;
    }

    .dashboard-main nav ul{
        font-size: 14px;
    }

    .create-acc-form, .credit-debit form {
        width: 160px;
    }
}