body{
    background: linear-gradient(to right, #A62639 10%, rgb(252, 56, 89) 60%);
    color: #ffffff;
    font-family: sans-serif;
}

/* Library */

.text-center{
    text-align: center;
}

.credit{
    color: #5cb85c;
}

.debit{
    color: 	#d9534f;
}

.m-0{
    margin: 0rem;
}
/* End */

.main-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1rem 8rem;
}

.logo h1{
    margin: 0rem;
}

.logo h1 a{
    text-decoration: none;
    color: #ffffff;
}

.main-header nav ul{
    list-style: none;
    padding-left: 0px;
    display: flex;
    margin: 0rem;
}

.main-header .link, .main-header .link-btn{
    text-decoration: none;
    color: #ffffff;
    margin-left: 1rem;
    font-size: 1.5rem;
}

.main-header .link-btn{
    border: 2px solid #ffffff;
    background: linear-gradient(to bottom, #A62639 10%, rgb(252, 56, 89) 100%);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.main-header .link:hover{
    border-bottom: 2px solid #ffffff;
    padding: 0.5rem 0rem;
}

.main-header .link-btn:hover{
    background: linear-gradient(to top, #A62639 10%, rgb(252, 56, 89) 100%);
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 0rem 8rem;
    height: 70vh;
    align-items: center;
}

.main .left{
    font-size: 3.5rem;
    width: 50%;
}

.main .left p{
    margin-bottom: 0rem;
}

.main .left .link-btn{
    font-size: 2rem;
    border: 2px solid #ffffff;
    text-decoration: none;
    background: linear-gradient(to bottom, #511C29 10%, #511C29a4 100%);
    color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.main .left .link-btn:hover{
    background: linear-gradient(to top, #A62639 10%, rgb(252, 56, 89) 100%);
}

.main .right .icon{
    margin-top: 2rem;
    height: 75vh;
}

.main .right .icon img{
    width: 100%;
    height: 100%;
}

/* Sign Up Page */
.signup{
    background: #ffffff;
    color: #56494E;
}

.signup .main-header{
    justify-content: center;
}

.signup .logo h1 a{
    color: #A62639;
}

.signup .main{
    justify-content: center;
}

.signup form{
    width: 300px;
}

.signup .form-group input{
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.signup form .link-btn{
    display: block;
    text-decoration: none;
    background: #A62639;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.signup form .link-btn:hover{
    background: #A62639d1;
}

/* Dashboard */
.dashboard{
    background: #ffffff;
    color: #56494E;
}

.dashboard .main-header{
    justify-content: space-between;
}

.dashboard .logo h1 a{
    color: #A62639;
}

.dashboard .link{
    color: #56494E;
    padding: 0.5rem 0rem;
}

.dashboard .link:hover{
    border-bottom: 2px solid #A62639;
    padding: 0.5rem 0rem;
}

.dashboard .dashboard-main{
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 3rem;
}

.dashboard-main .img{
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
}

.dashboard-main .left nav{
    border: 2px solid #56494E;
    border-bottom: transparent;
}

.dashboard-main nav ul{
    list-style: none;
    padding-left: 0rem;
    margin: 0rem;
    font-size: 18px;
}

.dashboard-main ul li{
    border-bottom: 2px solid #56494E;
    padding: 1rem;
}

.dashboard-main ul li a:hover{
    color: #A62639;
}

.dashboard-main nav a{
    text-decoration: none;
    color: #56494E;
}

.dashboard-main .img img{
    width: 100%;
}

.dashboard-main .right{
    border: 2px solid #56494E;
    min-height: 60vh;
    padding: 2rem;
}

.dashboard-main .right .link-btn{
    display: block;
    text-decoration: none;
    background: #A62639;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    width: 200px;
}

.dashboard-main .right .link-btn:hover{
    background: #A62639d1;
}

.dashboard-main .active{
    color: #ffffff;
    background-color: #A62639;
}

.dashboard-main .active a{
    color: #ffffff;
}

.dashboard-main .active a:hover{
    color: #ffffff;
}


/* Create Account */
.create-acc-form{
    width: 300px;
    display: block;
    margin: 0 auto;
}

.create-acc-form select{
    display: block;
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin: 1rem 0rem;
}

/* Dashboard active */
.dashboard-active{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-auto-rows: 200px;
   
}

.dashboard-active > .card{
    /* border: 1px solid #511C29; */
    text-align: center;
    padding: 2rem 1rem;
    box-shadow: 5px 1px 5px #511C29;
}

.dashboard-active .center{
    grid-column: 2/3;
    padding: 1rem;
}

.dashboard-active .center img{
    display: block;
    margin: 0 auto;
}

.dashboard-active .icon{
    font-size: 3rem;
    background-color: #511C29;
    color: #ffffff;
}

/* Transactions */
.transactions h2{
    margin: 0rem;
}

.transactions .flex{
    display: flex;
    justify-content: flex-end;
}

.transactions .acc-balance{
    background-color: #511C29;
    color: #ffffff;
    padding: 0rem 2rem;
    text-align: center;
    text-transform: uppercase;
}

.transactions .card{
    margin-top: 1rem;
    box-shadow: 5px 1px 5px #511C29;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
}

.transactions .transaction{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid #511C29;
}

/* Staff Dashboard */
.bank-accounts table{
    width: 100%;
    border-collapse: collapse;
}

.bank-accounts table th{
    text-align: left;
    color: #A62639;
    font-size: 1.2rem;
    padding: 1rem;
    border-bottom: 1px solid #A62639;
}

.bank-accounts table td{
    font-size: 1.1rem;
    padding: 1rem;
    border-bottom: 1px solid #A62639;
}

.records .flex{
    justify-content: space-between;
    margin: 1rem 0rem;
}

.credit-debit form{
    width: 300px;
    margin: 0 auto;
}

.credit-debit form h2{
    margin-bottom: 2rem;
}

.credit-debit .form-group input{
    height: 45px;
    width: calc(100% - 9px);
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.credit-debit .form-group select{
    height: 45px;
    width: 100%;
    padding-left: 5px;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.credit-debit form .link-btn{
    display: block;
    text-decoration: none;
    background: #A62639;
    color: #ffffff;
    border-radius: 25px;
    padding: 1rem;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
}

.credit-debit form .link-btn:hover{
    background: #A62639d1;
}

/* Admin Dashboard */
.users .flex{
    display: flex;
    justify-content: flex-end;
}

.users .add-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #511C29;
    padding: 0.5rem 1rem;
}

.users .add-btn:hover{
    background-color: #511C29c1;
}

.users .activate-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #5cb85c;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.users .activate-btn:hover{
    background-color: #5cb85cc1;
}

.users .deactivate-btn{
    text-decoration: none;
    color: #ffffff;
    background-color: #d9534f;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

.users .deactivate-btn:hover{
    background-color: #d9534fc1;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.footer-relative{
    position: relative;
}

@media screen and (max-width: 1075px){
    .main-header{
        padding: 1rem 4rem;
    }

    .main{
        padding: 0rem 4rem;
    }
}

@media screen and (max-width: 945px){
    .main-header{
        padding: 1rem 2rem;
    }

    .main{
        padding: 0rem 2rem;
    }
}

@media screen and (max-width: 880px){
    .main-header{
        padding: 1rem 1rem;
    }

    .main{
        padding: 0rem 1rem;
        flex-wrap: wrap;
    }

    .main .left{
        width: 100%;
        z-index: 1;
    }

    .main .right{
        display: none;
    }
}

@media screen and (max-width: 400px){
    .main-header{
        padding: 1rem 0.5rem;
    }

    .main-header .link, .main-header .link-btn{
        margin-left: 0.5rem;
        font-size: 1.3rem;
    }

    .main .left{
        font-size: 2.8rem;
    }
}

@media screen and (max-width: 341px){
    .main-header{
        flex-direction: column;
        align-items: center;
        padding: 1rem 0.5rem;
    }

    .main-header nav{
        margin-top: 1rem;
        font-size: 1.3rem;
    }

    .main .left{
        font-size: 2.8rem;
    }
}